- name: Install required packages
  ansible.builtin.apt:
    pkg:
      - ca-certificates
      - curl
    update_cache: true

- name: Create /etc/apt/keyrings directory with specific permissions
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Ensure Docker GPG key has read permissions for all users
  ansible.builtin.file:
    path: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Add Docker repository to APT sources
  ansible.builtin.shell: |
    set -o pipefail
    arch=$(dpkg --print-architecture)
    codename=$(source /etc/os-release && echo $VERSION_CODENAME)
    echo "deb [arch=${arch} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu " \
    "${codename} stable" | tee /etc/apt/sources.list.d/docker.list
  args:
    executable: /bin/bash
  changed_when: false

- name: Install Docker packages
  ansible.builtin.apt:
    name: '{{ item }}'
    state: present
    update_cache: true
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin

- name: Add Docker group
  ansible.builtin.group:
    name: docker
    state: present

- name: Add user to Docker group
  ansible.builtin.user:
    name: '{{ ansible_user }}'
    groups: docker
    append: true

- name: Ensure /var/run/docker.sock has the correct permissions
  ansible.builtin.file:
    path: /var/run/docker.sock
    mode: '0660'
